<html>
<head>
<title>driusan's mail</title>
</head>
<body>
{{if (ne .Banner "")}}<h1>{{.Banner}}</h1>{{end}}
<h1>{{.StartID}} to {{.EndID}} of {{.NumMessages}} Messages</h1>
<div>
<a href="/new">New email</a>
<div>
{{if (gt .PrevPage 0)}}<a href="/{{if (ne .PrevPage 1)}}?page={{.PrevPage}}{{end}}">Previous Page</a>{{end}}
{{if (gt .NextPage 0)}}<a href="/?page={{.NextPage}}">Next Page</a>{{end}}
</div>
<div>
<a href="/logout">Logout</a>
</div>
<table>
<tr>
	<th>Date</th>
	<th>From</th>
	<th>Subject</th>
	<th>Unread?</th>
</tr>
{{range $row := .Messages}}
<tr>
	<td>{{$row.Date}}</td>
	<td>{{$row.From}}</td>
	<td><a href="/messages/{{$row}}">{{$row.Subject}}</a></td>
	<td>{{if $row.IsUnread}}Yes{{end}}</td>
</tr>
{{end}}
</tr>
</table>
</body>
</html>

