<html>
<head>
<title>Send new mail</title>
</head>
<body>
<h1>New Message</h1>
<a href="/">Index</a>
<a href="/logout">Logout</a>

<hr>
<form method="post">
<dl>
	<dt>Subject</dt>
	<dd><input type="text" name="subject" placeholder="Re: that thing" {{if .Subject}}value="{{.Subject}}"{{end}}></dd>

	<dt>To:</dt>
	<dd><input type="text" name="to" placeholder="bob@example.com" {{if .To}}value="{{.To}}"{{end}}></dd>

	<dt>CC:</dt>
	<dd><input type="text" name="cc" placeholder="alice@example.com"></dd>

	<dt>BCC:</dt>
	<dd><input type="text" name="bcc" placeholder="nsa@example.com"></dd>
</dl>
<textarea name="body" cols="80" rows="24">
{{.Body}}
</textarea>
<div>
<input type="submit" value="Send">
</div>
</form>
</body>
</html>

